*{
    margin: auto;
}
.navigation{
    width: auto;
    height: 80px;
    background-color: #696767;
    display: flex;
}
.nava{
    display: flex;
}
.navb{
    display: flex;
    list-style: none;
}
.navb li a{
    text-decoration: none;
    padding: 5px;
    padding-left: 11px;
    padding-right: 11px;
    color: whitesmoke;
    display: flex;
    letter-spacing: 0.2em;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.navb li a:hover{
    border-bottom: 1px solid red;
    border-top: 1px solid red;
}
.logopic{
    width: 200px;
    height: 60px;
}
.nav-toggler{
    height: 34px;
    width: 44px;
    background-color: black;
    border-radius: 4px;
    cursor: pointer;
    position: fixed;
    top: -1px;
    right: 5px;
    border: none;
    display: none;
}
.nav-toggler:focus{
    outline: none;
    box-shadow: 0 0 15px rgba(red, green, blue, alpha);
}
.nav-toggler span{
    height: 2px;
    width: 20px;
    background-color: white;
    display: block;
    margin: auto;
    position: relative;
}
.nav-toggler span::before,
.nav-toggler span::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}
.nav-toggler span::before{
    transform: translateY(-6px);
}
.nav-toggler span::after{
    transform: translateY(6px);   
}

/*first div*/
.firstdiv{
    width: 100%;
    height: fit-content;
    display: block;
    background-color: rgb(118, 150, 177);
}
.firstdiv ul{
    display: flex;
    list-style: none;
}
.firstdiv ul li{
    width: 350px;
    height: fit-content;
    display: block;
    background-color: none;
}
.images{
    width: 350px;
    height: 160px;
}
.firstdiv ul li a{
    text-decoration: none;
}
.firstdiv ul li a h1{
    font-size: 19px;
    text-decoration: none;
    color: #2d2d2d;
    padding: 5px;
}
.firstdiv ul li a p{
    font-size: 15px;
    text-decoration: none;
    color: #2d2d2d;
    padding: 5px;
}



/*START THE FOOTER SECTION*/
.footer{
    width: 100%;
    height: fit-content;
    background-color: #696767;
    
}
.footer ul{
    display: flex;
    list-style: none;
}
.footer ul .ama{
    width: 250px;
    height: 150px;
    background-color: none;
}
.about-info ul{
    display: block;
}
.about-info ul li {
    display: flex;
    padding-top: 10px;
    text-align: left;
}
.about-info ul li p{
  color: white;
  font-size: 15px;
  word-spacing: 5px;
}
.about-info ul li a{
    display: flex;
    padding-top: 0px;
    text-align: left;
    margin: 0;
    font-size: 15px;
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;

}
.about-info ul li h1{
    color: white;
    font-size: 25px;
}
.about-info ul li h4{
    width: 2px;
    background-color: yellow;
    height: 40px;
}






















@media screen and (max-width: 1150px) {

    .firstdiv ul li{
        width: 310px;
    }
    .images{
        width: 310px;
    }

}




@media screen and (max-width: 1100px) {
    

    .firstdiv ul li{
        width: 320px;
    }
    .images{
        width: 320px;
    }
}

@media screen and (max-width: 1000px) {
    

    .firstdiv ul li{
        width: 280px;
    }
    .images{
        width: 280px;
    }
}

@media screen and (max-width: 980px) {
    .navigation{
        display: block;
        height: auto;
    }
 
    .nav-toggler{
        display: block;
        position: relative;
        border: 2px solid white;
        float: right;
    }
    .navb{
        display: block;
        background-color: #2d2d2d;
    }
    .logopic{
        float: left;
    }
    .closenav{
        display: none;
    }
    .firstdiv ul li{
        width: 280px;
    }
    .images{
        width: 280px;
    }
}

@media screen and (max-width: 950px) {
    
}

@media screen and (max-width: 912px) {
   
    .firstdiv ul li{
        width: 250px;
    }
    .images{
        width: 250px;
    }



    .about-info ul li a{
        display: flex;
        padding-top: 0px;
        text-align: left;
        margin: 0;
        font-size: 12px;
        text-decoration: none;
        color: white;
        font-family: 'Times New Roman', Times, serif;
    
    }
    .about-info ul li h1{
        color: white;
        font-size: 18px;
    }
    .about-info ul li h4{
        width: 3px;
        background-color: yellow;
        height: 30px;
    }
    .footer ul{
        position: relative;
        left: -20px;
    }

}

@media screen and (max-width: 900px) {
    



    .about-info ul li a{
        display: flex;
        padding-top: 0px;
        text-align: left;
        margin: 0;
        font-size: 12px;
        text-decoration: none;
        color: white;
        font-family: 'Times New Roman', Times, serif;
    
    }
    .about-info ul li h1{
        color: white;
        font-size: 18px;
    }
    .about-info ul li h4{
        width: 3px;
        background-color: yellow;
        height: 30px;
    }
    .footer ul{
        position: relative;
        left: -20px;
    }

}

@media screen and (max-width: 880px) {
    
}

@media screen and (max-width: 850px) {
    
}

@media screen and (max-width: 800px) {
    

    .firstdiv ul li{
        width: 220px;
    }
    .images{
        width: 220px;
    }
}

@media screen and (max-width: 750px) {
    
}

@media screen and (max-width: 720px) {
    
    .firstdiv ul{
        display: block;
        position: relative;
        left: -20px;
    }
    .firstdiv ul li{
        width: 550px;
    }
    .images{
        width: 550px;
    }
}

@media screen and (max-width: 700px) {
    
}

@media screen and (max-width: 650px) {
    
    .firstdiv ul li a h1{
        font-size: 16px;
    }
    .firstdiv ul li{
        width: 180px;
    }
    .images{
        width: 180px;
    }
    .about-info ul li h1{
        font-size: 13px;
    }
    .about-info ul li a{
        font-size: 10px;
    }
    
}

@media screen and (max-width: 600px) {
    
    .firstdiv ul li a h1{
        font-size: 16px;
    }
    .firstdiv ul li{
        width: 160px;
    }
    .images{
        width: 160px;
    }
}

@media screen and (max-width: 550px) {
    

    .firstdiv ul li a p{
        font-size: 14px;
    }
    .firstdiv ul li a h1{
        font-size: 15px;
    }
    .firstdiv ul li{
        width: 150px;
    }
    .images{
        width: 150px;
    }

    .about-info ul li h1{
        font-size: 12px;
    }
    .about-info ul li a{
        font-size: 9px;
    }
}

@media screen and (max-width: 520px) {
    .firstdiv ul li a p{
        font-size: 14px;
    }
    .firstdiv ul li a h1{
        font-size: 15px;
    }
    .firstdiv ul{
        display: block;
        position: relative;
        left: -20px;
    }
    .firstdiv ul li{
        width: 430px;
    }
    .images{
        width: 430px;
    }
}

@media screen and (max-width: 500px) {
    .about-info ul{
        height: fit-content;
    }
    .about-info ul li h1{
        font-size: 15px;
        width: auto;
    }
    .stubborn{
        display: none;
    }
    .about-info ul li p{
        color: white;
        font-size: 13px;
        word-spacing: 5px;
      }
    .about-info ul li p,
    .about-info ul li a{
        font-size: 13px;
    }  
}

@media screen and (max-width: 450px) {
    

    .firstdiv ul{
        display: block;
        position: relative;
        left: -20px;
    }
    .firstdiv ul li{
        width: 400px;
    }
    .images{
        width: 400px;
    }
}

@media screen and (max-width: 420px) {
    
    .firstdiv ul{
        display: block;
        position: relative;
        left: -30px;
    }
    .firstdiv ul li{
        width: 390px;
    }
    .images{
        width: 390px;
    }



    .footer ul{
        display: block;
        text-align: left;
        left: -50px;
    }
    .footer{
        height: 600px;
    }
    .footer ul li{
        width: auto;
        height: fit-content;
    }
    .about-info ul li h1{
        font-size: 18px;
        width: auto;
    }
    .about-info ul li a{
        font-size: 15px;
    }
}

@media screen and (max-width: 412px) {
    
}

@media screen and (max-width: 400px) {
    
}

@media screen and (max-width: 380px) {
    .images{
        width: 350px;
    }
    .firstdiv ul li{
        width: 350px;
    }
}

@media screen and (max-width: 360px) {
    .logopic{
        width: 120px;
        height: 40px;
        position: relative;
        left: -40px;
    }
    .nav-toggler{
        right: -20px;
    }
    .nava{
        height: 60px;
    }
    .navb{
        color: white;
    }
    .firstdiv ul{
        display: block;
        position: relative;
        left: -30px;
    }
    .firstdiv ul li{
        width: 330px;
    }
    .images{
        width: 330px;
    }



    .footer ul{
        display: block;
        text-align: left;
        left: -50px;
    }
    .footer{
        height: 600px;
    }
    .footer ul li{
        width: auto;
        height: fit-content;
    }
    .about-info ul li h1{
        font-size: 18px;
        width: auto;
    }
    .about-info ul li a{
        font-size: 15px;
    }
}

@media screen and (max-width: 320px) {
    .logopic{
        width: 120px;
        height: 40px;
        position: relative;
        left: -40px;
    }
    .nav-toggler{
        right: -20px;
    }
    .nava{
        height: 60px;
    }
    .firstdiv ul{
        display: block;
        position: relative;
        left: -30px;
    }
    .firstdiv ul li{
        width: 290px;
    }
    .images{
        width: 290px;
    }

    .footer ul{
        left: -30px;
    }
}

@media screen and (max-width: 300px) {
    .logopic{
        width: 120px;
        height: 40px;
        position: relative;
        left: -40px;
    }
    .nav-toggler{
        right: -20px;
    }
    .nava{
        height: 60px;
    }
    .firstdiv ul{
        display: block;
        position: relative;
        left: -30px;
    }
    .firstdiv ul li{
        width: 250px;
    }
    .images{
        width: 250px;
    }

    .footer ul{
        left: -30px;
    }


   
}

@media screen and (max-width: 250px) {
    
}

@media screen and (max-width: 240px) {
    .logopic{
        width: 80px;
        height: 40px;
        position: relative;
        left: -40px;
    }
    .nav-toggler{
        right: -10px;
    }
    .nava{
        height: 60px;
    }
    .firstdiv ul{
        display: block;
        position: relative;
        left: -30px;
    }
    .firstdiv ul li{
        width: 210px;
    }
    .images{
        width: 210px;
    }
    


    .footer ul{
        display: block;
        text-align: left;
        left: -35px;
    }
    .footer{
        height: 550px;
    }
    .footer ul .ama{
    width: 200px;
    }
    .footer ul li{
        width: auto;
        height: 20px;
    }
    .about-info ul li h1{
        font-size: 14px;
        width: auto;
    }
    .about-info ul li a{
        font-size: 9px;
    }
}